    html {
      background: #018DED url(https://r1.ilikewallpaper.net/iphone-wallpapers/download/18030/Pastel-colors-iphone-wallpaper-ilikewallpaper_com.jpg);
      background-size: cover;
      font-family: 'helvetica neue';
      text-align: center;
      font-size: 10px;
    }

    body {
      margin: 0;
      font-size: 2rem;
      display: flex;
      flex: 1;
      min-height: 100vh;
      align-items: center;
    }

    .clock {
      width: 30rem;
      height: 30rem;
      background-color: #EFEFEF;
      border: 20px solid white;
      border-radius: 50%;
      margin: 50px auto;
      position: relative;
      padding: 2rem;
      box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
    }
    .clock .number{
        --rotation: 0;

        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        transform: rotate(var(--rotation));
    }

    .clock .number1{ --rotation: 30deg;  }
    .clock .number2{ --rotation: 60deg;  }
    .clock .number3{ --rotation: 90deg;  }
    .clock .number4{ --rotation: 120deg;  }
    .clock .number5{ --rotation: 150deg;  }
    .clock .number6{ --rotation: 180deg;  }
    .clock .number7{ --rotation: 210deg;  }
    .clock .number8{ --rotation: 240deg;  }
    .clock .number9{ --rotation: 270deg;  }
    .clock .number10{ --rotation: 300deg;  }
    .clock .number11{ --rotation: 330deg;  }
    .clock .number12{ --rotation: 360deg;  }

    .clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); /* account for the height of the clock hands */
    }

    .hand {
      width: 50%;
      height: 6px;
      background: black;
      position: absolute;
      top: 50%;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all 0.05s;
      transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
    }

